//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0px rem(24);
    height: rem(60);
    background-color: $primary_01;
    border: rem(2) solid $primary_01;
    border-radius: rem(5);
    color: $white;
    transition: color 0.5s ease 0s, background-color 0.5s ease 0s;
    @extend %label;
    &::after {
        font-size: rem(12);
        margin-left: rem(24);
        transition: color 0.5s ease 0s;
    }
    @media (max-width: $mobile) {
        height: rem(50);
        padding: 0px rem(12);
        &::after {
            color: $white;
            margin-left: rem(12);
        }
    }
    @media (any-hover: hover) {
        &:hover {
            color: $mainColor;
            background-color: transparent;
            &::after {
                color: $mainColor;
            }
        }
    }
}
