@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display:regular&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class^="_icon-"]::after,
[class*=" _icon-"]:before,
[class*=" _icon-"]::after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class^="_icon-"]::after,
[class*=" _icon-"]:before,
[class*=" _icon-"]::after {
  display: block;
}

._icon-next:before {
  content: "\e904";
  color: #ed4d47;
}

._icon-prev:before {
  content: "\e905";
  color: #ed4d47;
}

._icon-facebook:before {
  content: "\e900";
  color: #fff;
}

._icon-arrow:before {
  content: "\e901";
  color: #fff;
}

._icon-twitter:before {
  content: "\e902";
  color: #fff;
}

._icon-Union::after {
  content: "\e903";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Rubik";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Rubik";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #402b2b;
  font-size: 16px;
  background-color: #fef8f5;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper._scroll .header {
  margin-top: 0px;
  padding: 10px 0px;
}

.wrapper._scroll .header__bg {
  opacity: 1;
}

._container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 15px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 24px;
  height: 60px;
  background-color: #ee4d47;
  border: 1px solid #ee4d47;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn::after {
  font-size: 12px;
  margin: 0px 0px 0px 24px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 5px;
  width: 100%;
  height: 60px;
  display: block;
  padding: 0px 20px 0px 40px;
  background-color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  border: 1px solid rgba(238, 77, 71, 0.5);
}

.input._focus {
  font-weight: 700;
  border: 2px solid #ee4d47;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
}

.input._error {
  border: 2px solid #ad0000;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.label,
.btn,
.menu__link,
.content-footer__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.title,
.about-info__title,
.faq__label,
.slider-about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 166.66667%;
  letter-spacing: 0.1em;
}

.subtitle,
.faq__title,
.slider-about__column:first-child h2 {
  font-family: "DM Serif Display";
  font-size: 48px;
  line-height: 140%;
}

.link,
.about-info__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}

.text,
.about-info__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 222.22222%;
}

.text_2,
.footer__copy,
.footer-form__label,
.slider-slide__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 187.5%;
}

.text_3,
.content-footer__text {
  font-size: 20px;
  line-height: 150%;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin-top: 40px;
  min-height: 60px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  padding: 0px;
}

.header__bg {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.header__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 212px;
          flex: 0 0 212px;
}

.header__logo img {
  max-width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li {
  margin-right: 38px;
  margin-left: 38px;
}

.menu__link {
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.menu__btn {
  margin-left: 38px;
}

.footer__content {
  position: relative;
}

.footer__bg {
  position: relative;
  width: 87.5%;
}

.footer__image {
  height: 660px;
}

.footer__image img {
  -o-object-position: 0 0;
     object-position: 0 0;
}

.footer__truck {
  position: absolute;
  top: -170px;
  left: 0;
  width: 35%;
  min-width: 280px;
}

.footer__truck img {
  max-width: 100%;
}

.footer__line {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__bottom {
  padding: 50px 135px 90px 0;
}

.footer__row {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  color: #402b2b;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item {
  border-radius: 50%;
  background-color: #ed4d47;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-left: 30px;
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer__social-item:first-child {
  margin: 0;
}

.content-footer__container {
  position: relative;
}

.content-footer__inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -108px;
  left: 0;
  z-index: 2;
  padding: 0px 15px;
}

.content-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 135px 0px 0px;
  margin-bottom: 165px;
}

.content-footer__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 390px;
          flex: 0 1 390px;
}

.content-footer__text {
  margin: 0px 0px 80px 0px;
  padding: 10px 10px 10px 50px;
  position: relative;
  color: #fff;
}

.content-footer__text::before {
  content: "";
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 0 0px 5px;
  background: #ed4d47;
}

.content-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 135px 0px 0px;
}

.content-footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
}

.content-footer__logo img {
  max-width: 100%;
}

.content-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-footer__list li {
  margin-left: 100px;
}

.content-footer__list li:first-child {
  margin: 0;
}

.content-footer__link {
  color: #fff;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.footer-form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
  background-color: #fff;
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 75px;
  padding-right: 75px;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
}

.footer-form__label {
  line-height: 250%;
  margin-bottom: 10px;
}

.footer-form__input {
  margin-bottom: 30px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__home {
  margin-bottom: 490px;
}

.page__about {
  margin-bottom: 155px;
}

.page__apply {
  margin-bottom: 115px;
}

.page__faq {
  margin-bottom: 180px;
}

.page__slider {
  margin-bottom: 330px;
}

.home__container {
  position: relative;
}

.home__inner {
  margin-top: 190px;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 740px;
}

.home__title {
  font-family: "DM Serif Display";
  font-size: 100px;
  line-height: 100%;
  color: #ffffff;
  margin-bottom: 60px;
}

.home__bg {
  position: relative;
  width: 80%;
  top: 0;
  left: 0;
}

.home__image {
  position: relative;
  height: 800px;
  max-height: 100vh;
}

.home__image::after {
  content: "";
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -o-linear-gradient(152.01deg, #ffedba 16.76%, #ee4d47 92%);
  background: linear-gradient(297.99deg, #ffedba 16.76%, #ee4d47 92%);
  border-bottom-right-radius: 100px;
}

.home__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 5;
}

.home__truck {
  position: absolute;
  z-index: 5;
  width: 47%;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0px, 97%);
      -ms-transform: translate(0px, 97%);
          transform: translate(0px, 97%);
}

.home__truck img {
  max-width: 100%;
}

.home__people {
  position: absolute;
  z-index: 5;
  width: 28%;
  bottom: 0;
  right: 9%;
  -webkit-transform: translate(0px, 30%);
      -ms-transform: translate(0px, 30%);
          transform: translate(0px, 30%);
}

.home__people img {
  max-width: 100%;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -12px;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 12px;
}

.about-info {
  margin-top: 75px;
}

.about-info__title {
  color: #ee4d47;
  margin-bottom: 40px;
}

.about-info__text {
  max-width: 470px;
  margin-bottom: 70px;
}

.about-info__bottom {
  background: rgba(252, 221, 212, 0.4);
  position: relative;
  padding-right: 55px;
  padding-top: 30px;
  padding-left: 55px;
  padding-bottom: 30px;
}

.about-info__bottom::before {
  content: "";
  background-color: #ed4d47;
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px 0 0px 5px;
}

.about-info__link {
  color: #402b2b;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about-image__image img {
  max-width: 100%;
}

.apply__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apply__column {
  padding: 0px 25px;
}

.apply-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 780px;
          flex: 0 1 780px;
  margin: 0px 0px 0px -120px;
}

.apply-image__image img {
  max-width: 100%;
}

.apply-unfo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 505px;
          flex: 0 1 505px;
  margin-top: 100px;
}

.apply-unfo__title {
  margin-bottom: 40px;
  color: #ee4d47;
}

.faq__content {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.faq__container {
  position: relative;
  z-index: 2;
}

.faq__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}

.faq__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
  margin: 0px 0px 80px 0px;
}

.faq__label {
  color: #ee4d47;
  margin-bottom: 44px;
}

.faq__faq-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 700px;
          flex: 0 1 700px;
  margin: 0px -63px 0px -75px;
}

.faq__faq-image img {
  max-width: 100%;
}

.faq__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.faq__bottom-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 10px;
}

.faq__spoller {
  margin: 0px 0px 10px 0px;
}

.faq__spoller-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 90px;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  padding: 0px 115px 0 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 166.66667%;
  cursor: pointer;
}

.faq__spoller-title::after {
  content: "";
  position: absolute;
  right: 44px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 2px;
  height: 20px;
  background-color: #ee4d47;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq__spoller-title::before {
  content: "";
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20px;
  height: 2px;
  background-color: #ee4d47;
}

.faq__spoller-title._active::after {
  content: "";
  height: 0;
}

.faq__spoller-body {
  display: none;
  background: #fff7f5;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
  padding: 41px 35px 61px 35px;
  margin: 0px 0px 50px 0px;
}

.faq__spoller-text {
  font-size: 18px;
  line-height: 166.66667%;
  font-weight: 300;
}

.faq__load-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.faq__load-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: none;
}

.faq__load-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 10px);
          flex: 0 1 calc(50% - 10px);
  background: rgba(237, 75, 69, 0.2);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  min-height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ed4d47;
  font-weight: 500;
  font-size: 18px;
  line-height: 166.66667%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.faq__load-title::after {
  content: "";
  position: absolute;
  right: 44px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 2px;
  height: 20px;
  background-color: #ee4d47;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq__load-title::before {
  content: "";
  position: absolute;
  right: 35px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20px;
  height: 2px;
  background-color: #ee4d47;
}

.faq__load-title._active::after {
  content: "";
  height: 0;
}

.faq__bg {
  position: absolute;
  width: 1170px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fdede8;
  border-top-left-radius: 10%;
}

.slider-about__top {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 44px;
}

.slider-about__title {
  margin: 0px 12px 0px 0px;
  color: #ee4d47;
}

.slider-about__navigation {
  margin: 0px 0px 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-about__nav {
  opacity: 0.5;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

.slider-about__nav-next {
  margin: 0px 0px 0px 30px;
}

.slider-about__bottom {
  position: relative;
}

.slider-about__bottom::before {
  content: "";
  position: absolute;
  z-index: 5;
  width: 30%;
  height: 200%;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fef8f5), to(rgba(254, 248, 245, 0)));
  background: -o-linear-gradient(left, #fef8f5 50%, rgba(254, 248, 245, 0) 100%);
  background: linear-gradient(90deg, #fef8f5 50%, rgba(254, 248, 245, 0) 100%);
}

.slider-about__bottom-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
}

.slider-about__column {
  min-width: 0;
}

.slider-about__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  position: relative;
  margin: 0px 15px 0px 0px;
  z-index: 10;
}

.slider-about__slider {
  overflow: visible;
  margin: 0px -100px 0px 0px;
}

.slider-about__slide {
  opacity: 0.5;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  padding: 0px 10px;
  opacity: 0;
}

.slider-about__slide.swiper-slide-next,
.slider-about__slide.swiper-slide-active {
  opacity: 1;
}

.slider-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
          box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
  border-radius: 10px;
}

.slider-slide__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0px 0px 20px 0px;
  margin-bottom: 50px;
}

.slider-slide__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-slide__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0px 20px 0px 0px;
}

.slider-slide__avatar img {
  max-width: 100%;
}

.slider-slide__name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 187.5%;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu__link:hover {
    color: #402b2b;
  }

  .footer__copy:hover {
    color: #ed4d47;
  }

  .footer__social-item:hover {
    background-color: #0f264c;
  }

  .content-footer__link:hover {
    color: #ed4d47;
  }

  .about-info__link:hover {
    color: #ed4d47;
  }

  .faq__load-title:hover {
    color: #402b2b;
  }

  .slider-about__nav:hover {
    opacity: 1;
  }

  .slider-about__slide.swiper-slide-prev {
    opacity: 0;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    color: #402b2b;
    background-color: #fff;
  }

  .btn:hover::after {
    color: #402b2b;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1600px) {
  .home__image::after {
    border-bottom-right-radius: 20%;
  }

  .home__image img {
    -o-object-position: 0 100%;
       object-position: 0 100%;
  }

  .faq__bg {
    width: 73%;
  }
}

@media (max-width: 1600px) {
  .footer__bg {
    width: 1400px;
  }

  .home__bg {
    width: 1285px;
  }
}

@media (max-width: 1400px) {
  .footer__bg {
    width: 110%;
  }

  .footer__bottom {
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 90px;
  }

  .content-footer__top {
    padding: 0;
  }

  .content-footer__bottom {
    padding: 0;
  }
}

@media (max-width: 1400px) and (max-width: 1150px) {
  .footer__bottom {
    padding-top: calc(30px + 20 * ((100vw - 320px) / 830));
  }

  .footer__bottom {
    padding-bottom: calc(30px + 60 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 1350px) {
  .slider-about__bottom::before {
    display: none;
  }

  .slider-about__bottom-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }

  .slider-about__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .slider-about__column:first-child {
    margin: 0px 0px 30px 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .slider-about__column:first-child h2 {
    padding: 0px 15px;
  }

  .slider-about__slider {
    margin: 0;
  }

  .slider-about__slider .swiper-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .slider-about__slide {
    padding: 0px 15px;
  }
}

@media (max-width: 1300px) {
  .faq__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .faq__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0;
  }

  .faq__faq-image {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 1285px) {
  .home__bg {
    width: 100%;
  }

  .home__image img {
    -o-object-position: 100% 0;
       object-position: 100% 0;
  }
}

@media (max-width: 1170px) {
  .faq__bg {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 1162px) {
  .apply__content {
    margin: 0px -12px;
  }

  .apply__column {
    padding: 0px 12px;
  }

  .apply-image {
    margin: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-width: 250px;
  }

  .apply-image__image {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
  }

  .apply-unfo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-top: 40px;
  }
}

@media (max-width: 1162px) and (max-width: 1150px) {
  .apply-unfo {
    margin-top: calc(0px + 40 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 1150px) {
  .subtitle,
  .faq__title,
  .slider-about__column:first-child h2 {
    font-size: calc(30px + 18 * ((100vw - 320px) / 830));
  }

  .link,
  .about-info__link {
    font-size: calc(20px + 4 * ((100vw - 320px) / 830));
  }

  .header {
    margin-top: calc(10px + 30 * ((100vw - 320px) / 830));
  }

  .menu__list li {
    margin-right: calc(0px + 38 * ((100vw - 320px) / 830));
  }

  .menu__list li {
    margin-left: calc(0px + 38 * ((100vw - 320px) / 830));
  }

  .menu__btn {
    margin-left: calc(0px + 38 * ((100vw - 320px) / 830));
  }

  .footer__social-item {
    margin-left: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .content-footer__top {
    margin-bottom: calc(40px + 125 * ((100vw - 320px) / 830));
  }

  .content-footer__list li {
    margin-left: calc(20px + 80 * ((100vw - 320px) / 830));
  }

  .footer-form {
    padding-top: calc(15px + 37 * ((100vw - 320px) / 830));
  }

  .footer-form {
    padding-bottom: calc(15px + 37 * ((100vw - 320px) / 830));
  }

  .footer-form {
    padding-left: calc(20px + 55 * ((100vw - 320px) / 830));
  }

  .footer-form {
    padding-right: calc(20px + 55 * ((100vw - 320px) / 830));
  }

  .footer-form__label {
    margin-bottom: calc(5px + 5 * ((100vw - 320px) / 830));
  }

  .footer-form__input {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .page__home {
    margin-bottom: calc(40px + 450 * ((100vw - 320px) / 830));
  }

  .page__about {
    margin-bottom: calc(60px + 95 * ((100vw - 320px) / 830));
  }

  .page__apply {
    margin-bottom: calc(60px + 55 * ((100vw - 320px) / 830));
  }

  .page__faq {
    margin-bottom: calc(60px + 120 * ((100vw - 320px) / 830));
  }

  .page__slider {
    margin-bottom: calc(180px + 150 * ((100vw - 320px) / 830));
  }

  .home__inner {
    margin-top: calc(160px + 30 * ((100vw - 320px) / 830));
  }

  .home__title {
    font-size: calc(45px + 55 * ((100vw - 320px) / 830));
  }

  .home__title {
    margin-bottom: calc(20px + 40 * ((100vw - 320px) / 830));
  }

  .about-info__title {
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / 830));
  }

  .about-info__text {
    margin-bottom: calc(35px + 35 * ((100vw - 320px) / 830));
  }

  .about-info__bottom {
    padding-right: calc(15px + 40 * ((100vw - 320px) / 830));
  }

  .about-info__bottom {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .about-info__bottom {
    padding-left: calc(15px + 40 * ((100vw - 320px) / 830));
  }

  .about-info__bottom {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 830));
  }

  .apply-unfo__title {
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / 830));
  }

  .faq__content {
    padding-top: calc(30px + 70 * ((100vw - 320px) / 830));
  }

  .faq__content {
    padding-bottom: calc(30px + 70 * ((100vw - 320px) / 830));
  }

  .faq__top {
    margin-bottom: calc(40px + 50 * ((100vw - 320px) / 830));
  }

  .faq__label {
    margin-bottom: calc(20px + 24 * ((100vw - 320px) / 830));
  }

  .slider-about__top {
    margin-bottom: calc(20px + 24 * ((100vw - 320px) / 830));
  }

  .slider-slide__body {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 830));
  }

  .slider-slide__body {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 830));
  }

  .slider-slide__body {
    padding-right: calc(20px + 30 * ((100vw - 320px) / 830));
  }

  .slider-slide__body {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 830));
  }

  .slider-slide__text {
    margin-bottom: calc(10px + 40 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .footer__truck {
    top: 0;
    -webkit-transform: translate(0, -80%);
        -ms-transform: translate(0, -80%);
            transform: translate(0, -80%);
  }

  .content-footer__inner {
    top: 60px;
  }

  .content-footer__top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 100px;
  }

  .content-footer__column:first-child {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .content-footer__text {
    margin: 0;
    padding-right: 20px;
    padding-left: 40px;
  }

  .footer-form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }

  .about__content {
    margin: 0px;
  }

  .about__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }

  .about-info {
    margin-top: 0;
  }

  .about-info__bottom {
    margin: 20px 0px 0px 0px;
  }

  .faq__spoller-title {
    padding: 10px 95px 10px 35px;
  }
}

@media (max-width: 991.98px) and (max-width: 1150px) {
  .content-footer__top {
    margin-bottom: calc(25px + 75 * ((100vw - 320px) / 830));
  }

  .content-footer__text {
    padding-left: calc(20px + 20 * ((100vw - 320px) / 830));
  }
}

@media screen and (max-width: 991.98px) and (orientation: landscape) {
  .home__inner {
    margin-top: 120px;
  }

  .home__image {
    max-height: 650px;
  }
}

@media screen and (max-width: 991.98px) and (orientation: landscape) and (max-width: 1150px) {
  .home__inner {
    margin-top: calc(100px + 20 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 767.98px) {
  .btn {
    height: 50px;
    padding: 0px 12px;
  }

  .btn::after {
    color: #fff;
    margin: 0px 0px 0px 12px;
  }

  .input {
    padding: 0px 10px 0px 20px;
  }

  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__list li {
    margin: 0px 10px;
  }

  .footer__image {
    height: 740px;
  }

  .footer__bottom {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .content-footer__inner {
    top: 80px;
  }

  .content-footer__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-footer__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .content-footer__text {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }

  .content-footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }

  .footer-form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .page__home {
    margin-bottom: 100px;
  }

  .home__inner {
    max-width: none;
    text-align: center;
  }

  .home__truck {
    -webkit-transform: translate(0px, -5%);
        -ms-transform: translate(0px, -5%);
            transform: translate(0px, -5%);
    min-width: 50%;
  }

  .home__people {
    -webkit-transform: translate(0px, -10%);
        -ms-transform: translate(0px, -10%);
            transform: translate(0px, -10%);
    min-width: 30%;
  }

  .about__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .about-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .about-info__text {
    max-width: none;
    margin-bottom: 0;
  }

  .about-info__bottom {
    text-align: center;
  }

  .about-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 20px 0px;
    min-width: 250px;
  }

  .apply__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .apply-unfo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }

  .faq__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .faq__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .faq__faq-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    min-width: 250px;
    margin: 0px 0px 20px 0px;
  }

  .faq__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }

  .faq__bottom-column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
  }

  .faq__spoller-title {
    padding: 10px 35px 10px 15px;
  }

  .faq__spoller-title::before {
    right: 15px;
  }

  .faq__spoller-title::after {
    right: 24px;
  }

  .faq__spoller-body {
    padding: 20px 15px 20px 15px;
    margin-bottom: 20px;
  }

  .faq__load-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .slider-about__column:first-child {
    text-align: center;
  }
}

@media (max-width: 767.98px) and (max-width: 1150px) {
  .footer__bottom {
    padding-top: calc(30px + 10 * ((100vw - 320px) / 830));
  }

  .footer__bottom {
    padding-bottom: calc(30px + 10 * ((100vw - 320px) / 830));
  }

  .page__home {
    margin-bottom: calc(60px + 40 * ((100vw - 320px) / 830));
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
  }

  .content-footer__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .content-footer__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .content-footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0px 0px 0px;
  }

  .footer-form__btn {
    width: 100%;
  }
}