// Заголовки, общие БЄМ блоки и проче...
%label {
    font-weight: 700;
    line-height: math.div(19, 16);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

%title {
    font-weight: 700;
    font-size: rem(24);
    line-height: math.div(40, 24);
    letter-spacing: 0.1em;
}

%subtitle {
    font-family: "DM Serif Display";
    @include adaptiveValue("font-size", 48, 30, 991.98, 479.98, 1);
    line-height: 140%;
}

%link {
    font-weight: 500;
    @include adaptiveValue("font-size", 24, 20, 991.98, 479.98, 1);
    line-height: math.div(36, 24);
}

%text {
    font-weight: 300;
    font-size: rem(18);
    line-height: math.div(40, 18);
}

%text_2 {
    font-weight: 300;
    line-height: math.div(30, 16);
}

%text_3 {
    font-size: rem(20);
    line-height: math.div(30, 20);
}

%text_4 {
    font-weight: 500;
    font-size: rem(18);
}

%spoller-title {
    @extend %text_4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: rem(90);
    position: relative;
    border-radius: rem(10);
    &::after {
        content: "";
        position: absolute;
        right: rem(44);
        top: 50%;
        transform: translate(0, -50%);
        width: rem(2);
        height: rem(20);
        background-color: $primary_01;
        transition: height 0.3s ease 0s;
    }
    &::before {
        content: "";
        position: absolute;
        right: rem(35);
        top: 50%;
        transform: translate(0, -50%);
        width: rem(20);
        height: rem(2);
        background-color: $primary_01;
    }
    @media (max-width: $tablet) {
        &::before {
            right: rem(15);
        }
        &::after {
            right: rem(24);
        }
    }
    &._spoller-active {
        &::after {
            height: 0;
        }
    }
}
