.footer {
    &__content {
        position: relative;
    }

    &__bg {
        position: relative;
        width: 87.5%;
        @media (max-width: em(1600)) {
            width: rem(1400);
        }
        @media (max-width: em(1430)) {
            width: 110%;
        }
    }

    &__image-ibg {
        @media (min-width: $tablet) {
            @include adaptiveValue("height", 660, 400, 1120, 991.98, 1);
        }
        @media (max-width: $tablet) {
            height: rem(550);
        }
        @media (max-width: $mobile) {
            height: rem(670);
        }
        @media (max-width: $mobileSmall) {
            height: rem(750);
        }
        img {
            object-position: 0 0;
        }
    }

    &__truck {
        position: absolute;
        top: rem(-170);
        left: 0;
        width: 35%;
        min-width: rem(280);
        img {
            max-width: 100%;
        }
        @media (max-width: $tablet) {
            top: 0;
            transform: translate(0, -80%);
        }
    }

    &__line {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__bottom {
        position: relative;
        @include adaptiveValue("padding-top", 50, 30, 1120, 991.98, 1);
        @include adaptiveValue("padding-bottom", 90, 30, 1120, 991.98, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copy {
        @extend %text_2;
    }

    &__socials {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 30, 15, 1120, 767.98, 1);
        @media (min-width: em(1430)) {
            padding-right: rem(135);
        }
    }

    &__social-item {
        border-radius: 50%;
        background-color: $primary_01;
        width: rem(36);
        flex: 0 0 rem(36);
        height: rem(36);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        transition: background-color 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $secondary_01;
            }
        }
    }
}

.content-footer {
    &__container {
        position: relative;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem(40);
        position: absolute;
        width: 100%;
        @include adaptiveValue("min-height", 640, 420, 1120, 991.98, 1);
        min-height: rem(640);
        top: rem(-108);
        left: 0;
        z-index: 2;
        padding: 0px rem(15);
        @media (max-width: $tablet) {
            top: rem(60);
        }
        @media (max-width: $mobile) {
            top: rem(80);
        }
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @media (min-width: em(1430)) {
            padding-right: rem(135);
        }
        @media (max-width: $tablet) {
            align-items: center;
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__text {
        flex: 0 1 rem(390);
        @media (max-width: $tablet) {
            flex: 0 1 40%;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
        @extend %text_3;
        padding: rem(20) 0 rem(20) rem(50);
        position: relative;
        color: $white;
        @include adaptiveValue("margin-bottom", 70, 30, 1120, 991.98, 1);
        @media (max-width: $tablet) {
            padding-right: rem(20);
            @include adaptiveValue("padding-left", 40, 20, 1120, 991.98, 1);
        }
        @media (max-width: $mobile) {
            padding-right: 0;
            text-align: center;
        }
        &::before {
            content: "";
            width: rem(10);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: rem(5) 0 0 rem(5);
            background-color: $primary_01;
        }
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: em(1430)) {
            padding-right: rem(135);
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__logo {
        flex: 0 0 rem(170);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            flex: 0 0 rem(150);
        }
    }

    &__menu {
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__list {
        display: flex;
        @include adaptiveValue("gap", 100, 30, 1120, 767.98, 1);
        @media (max-width: $mobileSmall) {
            justify-content: center;
            margin-top: rem(30);
        }
    }

    &__link {
        @extend %label;
        color: $white;
        transition: color 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary_01;
            }
        }
    }
}

.footer-form {
    flex: 0 1 rem(550);
    background-color: $white;
    @include adaptiveValue("padding-top", 52, 15, 1120, 991.98, 1);
    @include adaptiveValue("padding-bottom", 52, 15, 1120, 991.98, 1);
    @include adaptiveValue("padding-left", 75, 15, 1120, 991.98, 1);
    @include adaptiveValue("padding-right", 75, 15, 1120, 991.98, 1);
    box-shadow: 0px rem(20) rem(40) rgba(238, 77, 71, 0.1);
    border-radius: rem(10);
    @media (max-width: $tablet) {
        flex: 0 1 60%;
    }
    @media (max-width: $mobile) {
        flex: 1 1 100%;
    }
    &__label {
        @extend %text_2;
        line-height: math.div(40, 16);
        @include adaptiveValue("margin-bottom", 10, 5, 1120, 767.98, 1);
    }

    &__wrap {
        position: relative;
        @include adaptiveValue("margin-bottom", 30, 15, 1120, 767.98, 1);
        .form__error {
            position: absolute;
            bottom: 100%;
            @include adaptiveValue("margin-bottom", 10, 5, 1120, 767.98, 1);
            right: 0;
            @extend %text_2;
            line-height: math.div(40, 16);
            color: $primary_02;
        }
    }

    &__input {
    }
    &__btn {
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}
