.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    @include adaptiveValue("margin-top", 40, 10, 1120, 767.98, 1);
    min-height: rem(60);
    transition: padding 0.8s ease 0s;
    padding: 0;
    &__bg-ibg {
        transition: opacity 0.8s ease 0s;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
    }

    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
        }
    }

    &__logo {
        flex: 0 0 rem(212);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 0 rem(130);
        }
    }

    &__menu {
    }
}
.menu {
    display: flex;
    align-items: center;
    @media (max-width: $mobile) {
        flex: 1 1 100%;
        margin-top: rem(20);
        justify-content: center;
    }

    &__body {
    }

    &__list {
        display: flex;
        align-items: center;
        @include adaptiveValue("gap", 38, 10, 1120, 767.98, 1);
    }

    &__item {
    }

    &__link {
        @extend %label;
        color: $white;
        transition: color 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }

    &__btn {
        @include adaptiveValue("margin-left", 38, 0, 1120, 767.98, 1);
    }
}

//====================================================================================================

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(18);
        cursor: pointer;
        z-index: 5;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $white;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}
