.home {
    &__container {
        position: relative;
    }

    &__inner {
        @include adaptiveValue("margin-top", 190, 120, 991.98, 479.98, 1);
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0px rem(15);
        top: 0;
        left: 0;
        z-index: 10;
        max-width: rem(740);
        @media (max-width: $tablet) {
            @media screen and (orientation: landscape) {
                @include adaptiveValue("margin-top", 120, 100, 991.98, 320, 1);
            }
        }
        @media (max-width: $mobile) {
            max-width: none;
            text-align: center;
        }
    }

    &__title {
        font-family: "DM Serif Display";
        @include adaptiveValue("font-size", 100, 45, 1120, 767.98, 1);
        line-height: 100%;
        color: $white;
        @include adaptiveValue("margin-bottom", 60, 20, 1120, 767.98, 1);
    }

    &__btn {
    }

    &__bg {
        position: relative;
        width: 80%;
        top: 0;
        left: 0;
        @media (max-width: em(1600)) {
            width: rem(1285);
        }
        @media (max-width: em(1285)) {
            width: 100%;
        }
    }

    &__image {
        position: relative;
        height: rem(800);
        max-height: 100vh;
        @media (max-width: $tablet) {
            @media screen and (orientation: landscape) {
                max-height: rem(650);
            }
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 4;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(297.99deg, $light_04 16.76%, $primary_01 92%);
            border-bottom-right-radius: rem(100);
            @media (min-width: em(1600)) {
                border-bottom-right-radius: 20%;
            }
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: 5;
        }
        @media (max-width: em(1285)) {
            img {
                object-position: 100% 0;
            }
        }
        @media (min-width: em(1600)) {
            img {
                object-position: 0 100%;
            }
        }
    }

    &__truck {
        position: absolute;
        z-index: 10;
        width: 47%;
        bottom: 0;
        left: 0;
        transform: translate(0px, 97%);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            transform: translate(0px, -5%);
            min-width: 50%;
        }
    }

    &__rocks {
        position: absolute;
        bottom: rem(-70);
        left: percent(473, 1360);
        z-index: 5;
        @media (max-width: $mobile) {
            @include adaptiveValue("width", 200, 100, 767.98, 320, 1);
            @include adaptiveValue("bottom", 20, 10, 767.98, 320, 1);
            left: percent(400, 1360);
        }
        img {
            max-width: 100%;
        }
    }

    &__blur {
        position: absolute;
        top: 0;
        left: percent(585, 1360);
        width: percent(1000, 1360);
        z-index: 5;
        @media (max-width: $mobile) {
            width: 100%;
            top: 30%;
        }
        img {
            max-width: 100%;
        }
    }

    &__people {
        position: absolute;
        z-index: 10;
        width: 28%;
        bottom: 0;
        right: 9%;
        transform: translate(0px, 30%);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            transform: translate(0px, -10%);
            min-width: 30%;
        }
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.about {
    &__container {
        display: flex;
        gap: rem(25);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @media (max-width: $mobile) {
            justify-content: center;
            text-align: center;
        }
    }

    &__info {
        @media (min-width: $mobile) {
            flex: 0 1 50%;
            @include adaptiveValue("margin-top", 75, 25, 991.98, 767.98, 1);
        }
    }

    &__title {
        color: $primary_01;
        @extend %title;
        @include adaptiveValue("margin-bottom", 40, 10, 1120, 767.98, 1);
    }

    &__text {
        @extend %text;
        @media (min-width: $tablet) {
            max-width: rem(470);
            @include adaptiveValue("margin-bottom", 70, 35, 1120, 767.98, 1);
        }
    }

    &__bottom {
        background-color: hsla(13, 87%, 91%, 0.4);
        position: relative;
        @include adaptiveValue("padding-right", 55, 15, 1120, 479.98, 1);
        @include adaptiveValue("padding-top", 30, 15, 1120, 479.98, 1);
        @include adaptiveValue("padding-left", 55, 15, 1120, 479.98, 1);
        @include adaptiveValue("padding-bottom", 30, 15, 1120, 479.98, 1);
        &::before {
            content: "";
            background-color: $primary_03;
            position: absolute;
            width: 10px;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: rem(5) 0 0px rem(5);
        }
        @media (max-width: $tablet) {
            flex: 1 1 100%;
        }
        @media (max-width: $mobile) {
            text-align: center;
        }
    }

    &__link {
        @extend %link;
        color: $mainColor;
        transition: color 0.5s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary_03;
            }
        }
    }

    &__image {
        @media (min-width: $mobile) {
            flex: 0 1 calc(50% - rem(25));
        }
        @media (max-width: $mobile) {
            flex: 0 1 50%;
            min-width: rem(290);
            order: -1;
        }
        img {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.apply {
    &__container {
        display: flex;
        gap: rem(25);
        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
        @media (max-width: $mobile) {
            justify-content: center;
            text-align: center;
        }
    }

    &__image {
        @media (min-width: $pc) {
            flex: 0 1 rem(780);
            margin-left: rem(-120);
        }
        @media (max-width: $pc) {
            flex: 0 1 calc(50% - rem(25));
            min-width: rem(250);
            transform: scale(1.4);
            margin-top: rem(50);
        }
        @media (max-width: $mobile) {
            margin-top: 0;
            margin-bottom: rem(-40);
        }
        img {
            max-width: 100%;
        }
    }

    &__info {
        flex: 0 1 rem(505);
        @include adaptiveValue("margin-top", 100, 25, 991.98, 767.98, 1);
        @media (max-width: $pc) {
            flex: 0 1 50%;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            text-align: center;
        }
    }

    &__title {
        @extend %title;
        @include adaptiveValue("margin-bottom", 40, 10, 1120, 767.98, 1);
        color: $primary_01;
    }

    &__text {
        @extend %text;
    }
}

//========================================================================================================================================================

.faq {
    position: relative;
    &__content {
        position: relative;
        @include adaptiveValue("padding-top", 100, 30, 1120, 767.98, 1);
        @include adaptiveValue("padding-bottom", 100, 30, 1120, 767.98, 1);
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        @include adaptiveValue("margin-bottom", 90, 40, 1120, 767.98, 1);
        @media (max-width: 1300px) {
            align-items: center;
        }
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__info {
        flex: 0 1 550px;
        margin: 0px 0px 80px 0px;
        @media (max-width: 1300px) {
            flex: 0 1 50%;
            margin: 0;
        }
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            order: 2;
            text-align: center;
        }
    }

    &__label {
        @extend %title;
        color: $primary_01;
        @include adaptiveValue("margin-bottom", 44, 20, 1120, 767.98, 1);
    }

    &__title {
        @extend %subtitle;
    }

    &__faq-image {
        flex: 0 1 700px;
        margin: 0px -63px 0px -75px;
        @media (max-width: 1300px) {
            margin: 0;
            flex: 0 1 50%;
        }
        @media (max-width: $mobile) {
            order: 1;
            min-width: 250px;
            margin: 0px 0px 20px 0px;
        }
        img {
            max-width: 100%;
        }
    }

    &__bottom {
        display: flex;
        margin: 0px -10px;
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            margin: 0;
        }
    }

    &__bottom-column {
        flex: 0 1 50%;
        padding: 0px 10px;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
            padding: 0;
        }
    }

    &__spoller {
        margin: 0px 0px 10px 0px;
    }

    &__spoller-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 90px;
        position: relative;
        background-color: $white;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        padding: 0px 115px 0 35px;
        font-weight: 500;
        font-size: 18px;
        line-height: math.div(30, 18);
        cursor: pointer;
        @media (max-width: $tablet) {
            padding: 10px 95px 10px 35px;
        }
        @media (max-width: $mobile) {
            padding: 10px 35px 10px 15px;
            &::before {
                right: 15px;
            }
            &::after {
                right: 24px;
            }
        }
        &::after {
            content: "";
            position: absolute;
            right: 44px;
            top: 50%;
            transform: translate(0, -50%);
            width: 2px;
            height: 20px;
            background-color: $primary_01;
            transition: all 0.3s ease 0s;
        }
        &::before {
            content: "";
            position: absolute;
            right: 35px;
            top: 50%;
            transform: translate(0, -50%);
            width: 20px;
            height: 2px;
            background-color: $primary_01;
        }
        &._active {
            &::after {
                content: "";
                height: 0;
            }
        }
    }

    &__spoller-body {
        display: none;
        background: $light_02;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        padding: 41px 35px 61px 35px;
        margin: 0px 0px 50px 0px;
        @media (max-width: $mobile) {
            padding: 20px 15px 20px 15px;
            margin-bottom: 20px;
        }
    }

    &__spoller-text {
        font-size: rem(18);
        line-height: math.div(30, 18);
        font-weight: 300;
    }
    &__load {
    }

    &__load-button {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__load-body {
        flex: 1 1 100%;
        display: none;
    }

    &__load-title {
        flex: 0 1 calc(50% - 10px);
        background: hsla(2, 82%, 60%, 0.2);
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        min-height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $primary_03;
        font-weight: 500;
        font-size: 18px;
        line-height: math.div(30, 18);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        transition: all 0.5s ease 0s;
        @media (max-width: $mobile) {
            flex: 1 1 100%;
        }
        @media (min-width: $tablet) {
            &:hover {
                color: $mainColor;
            }
        }
        &::after {
            content: "";
            position: absolute;
            right: 44px;
            top: 50%;
            transform: translate(0, -50%);
            width: 2px;
            height: 20px;
            background-color: $primary_01;
            transition: all 0.3s ease 0s;
        }
        &::before {
            content: "";
            position: absolute;
            right: 35px;
            top: 50%;
            transform: translate(0, -50%);
            width: 20px;
            height: 2px;
            background-color: $primary_01;
        }
        &._active {
            &::after {
                content: "";
                height: 0;
            }
        }
    }

    &__bg {
        position: absolute;
        width: 1170px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: $light_03;
        border-top-left-radius: 10%;
        @media (min-width: em(1600)) {
            width: 73%;
        }
        @media (max-width: 1170px) {
            width: 100%;
            border-radius: 0;
        }
    }
}

//========================================================================================================================================================

.slider-about {
    &__top {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("margin-bottom", 44, 20, 1120, 767.98, 1);
    }

    &__title {
        margin: 0px 12px 0px 0px;
        @extend %title;
        color: $primary_01;
    }

    &__navigation {
        margin: 0px 0px 0px 12px;
        display: flex;
        align-items: center;
    }

    &__nav {
        opacity: 0.5;
        transition: all 0.5s ease 0s;
        cursor: pointer;
        @media (min-width: $tablet) {
            &:hover {
                opacity: 1;
            }
        }
    }
    &__nav-prev {
    }

    &__nav-next {
        margin: 0px 0px 0px 30px;
    }

    &__bottom {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            z-index: 5;
            width: 30%;
            height: 200%;
            top: 0;
            left: 0;
            transform: translate(0, -25%);
            background: linear-gradient(90deg, $white, 50%, rgba(254, 248, 245, 0) 100%);
        }
        @media (max-width: 1350px) {
            &::before {
                display: none;
            }
        }
    }
    &__bottom-container {
        display: flex;
        min-width: 0;
        @media (max-width: 1350px) {
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
        }
    }

    &__column {
        min-width: 0;
        &:first-child {
            flex: 0 0 30%;
            position: relative;
            margin: 0px 15px 0px 0px;
            z-index: 10;
            h2 {
                @extend %subtitle;
            }
        }
        @media (max-width: 1350px) {
            flex: 1 1 100%;
            &:first-child {
                margin: 0px 0px 30px 0px;
                flex: 1 1 100%;
                h2 {
                    padding: 0px 15px;
                }
            }
        }
        @media (max-width: $mobile) {
            &:first-child {
                text-align: center;
            }
        }
    }

    &__slider {
        overflow: visible;
        margin: 0px -100px 0px 0px;
        @media (max-width: 1350px) {
            margin: 0;
            .swiper-wrapper {
                justify-content: space-between;
            }
        }
    }

    &__slide {
        opacity: 0.5;
        transition: all 0.8s ease 0s;
        padding: 0px 10px;
        opacity: 0;
        &.swiper-slide-next,
        &.swiper-slide-active {
            opacity: 1;
        }
        @media (max-width: 1350px) {
            padding: 0px 15px;
        }
        @media (min-width: $tablet) {
            &.swiper-slide-prev {
                opacity: 0;
            }
        }
    }
}
.slider-slide {
    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: $white;
        @include adaptiveValue("padding-top", 60, 20, 1120, 767.98, 1);
        @include adaptiveValue("padding-bottom", 40, 20, 1120, 767.98, 1);
        @include adaptiveValue("padding-right", 50, 20, 1120, 767.98, 1);
        @include adaptiveValue("padding-left", 50, 20, 1120, 767.98, 1);
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
    }

    &__text {
        flex: 1 1 auto;
        margin: 0px 0px 20px 0px;
        @include adaptiveValue("margin-bottom", 50, 10, 1120, 767.98, 1);
        @extend %text_2;
    }

    &__bottom {
        display: flex;
        align-items: center;
    }

    &__avatar {
        flex: 0 0 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0px 20px 0px 0px;
        img {
            max-width: 100%;
        }
    }

    &__name {
        font-family: "Roboto";
        font-weight: 700;
        line-height: math.div(30, 16);
    }
}
